<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AdminUserMapper">


    <insert id="add">
        insert into adminuserinfo(username,password,nickName)
        values(#{username},#{password},#{nickName})
    </insert>

    <select id="login" resultType="com.example.demo.model.AdminUserInfo">
        select * from adminuserinfo
        where username=#{username} and password=#{password}
    </select>

    <select id="searchByUid" resultType="com.example.demo.model.UserInfo">
        select * from userinfo where id=#{uid}
    </select>
    <select id="getAdminUserByName" resultType="com.example.demo.model.AdminUserInfo">
        select * from adminuserinfo
        where username=#{username}
    </select>

    <select id="getAdminUserById" resultType="com.example.demo.model.AdminUserInfo">
        select * from adminuserinfo
        where id=#{id}
    </select>


    <update id="updateName">
        update adminuserinfo set username=#{username},nickName=#{nickName} where id=#{id}
    </update>

    <update id="updatePassword">
        update adminuserinfo set password=#{password} where id=#{id}
    </update>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from adminuserinfo
    </select>

    <select id="getList" resultType="com.example.demo.model.AdminUserInfo">
        select * from adminuserinfo  limit #{psize} offset #{offset}
    </select>

    <delete id="deleteAdmin">
        DELETE FROM adminuserinfo WHERE id = #{id}
    </delete>

</mapper>