<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ArticleMapper">
    <select id="getMyList" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where uid=#{uid}
    </select>

    <select id="getDetail" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where id=#{aid}
    </select>

    <update id="updateCount">
        update articleinfo set rcount = rcount + 1 where id=#{aid};
    </update>

    <update id="update">
        update articleinfo set title=#{title},content=#{content} where id=#{aid} and uid=#{uid}
    </update>

    <select id="getList" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo order by rcount desc limit #{psize} offset #{offset}
    </select>

    <select id="getListByKeyword" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where title like concat('%', #{title}, '%') order by rcount desc limit #{psize} offset #{offset}
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from articleinfo
    </select>

    <select id="getTotalCountBykeyword" resultType="java.lang.Integer">
        select count(*) from articleinfo where title like concat('%', #{title}, '%')
    </select>

    <insert id="add">
        INSERT INTO articleinfo (uid,title, content,createtime)
        VALUES (#{uid}, #{title}, #{content},#{createtime})
    </insert>

    <delete id="deleteArc">
        DELETE FROM articleinfo WHERE id = #{aid}
    </delete>
</mapper>